{% extends "main/base.html" %}

{% load static %}

{% block styles %}
  <link href={% static "main/generator.css" %} rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="d-flex flex-column flex-md-row justify-content-between pt-2">
    <h3>Title Generator</h3>
    <span class="text-light">Current model is learned from <strong>716</strong> titles, last from <strong>28/07/2022</strong></span>
  </div>
  <p class="lead">The Generator uses a character-based 
    <strong class="abbr-tooltip initialism" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Recurrent Neural Network">RNN</strong>, which generates new characters to add to a starter input.
    <a href="https://www.tensorflow.org/text/tutorials/text_generation" target="_blank">
      Learn more <i class="bi bi-box-arrow-up-right initialism"></i>
    </a>
  </p>
  <form class="card mb-2" method="post" id="generatorForm">
    {% csrf_token %}
    <div class="card-header d-flex flex-wrap gap-4 align-items-center justify-content-between">
      <div class="border-start border-warning border-4 ps-2">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="startInput" class="col-form-label">Title Beginning</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="startInput" placeholder="Default" maxlength="100" aria-describedby="startInputInfo">
          </div>
        </div>
        <div id="startInputInfo" class="form-text">Default is a random character from the learned vocabulary.</div>
      </div>
      <div style="min-width: 300px" class="border-start border-danger border-4 ps-2">
        <div class="row g-2 align-items-center">
          <div class="col-auto me-2">
            <label for="minLength" class="col-form-label">Min. Title Length</label>
          </div>
          <div class="col-auto">
            <input type="number" class="form-control" id="minLength" min="1" max="130" value="100" aria-describedby="minLengthInfo">
          </div>
          <div class="col-auto">
            <span class="form-text">(1-130)</span>
          </div>
        </div>
        <div id="minLengthInfo" class="form-text">Generator stops at the first whitespace character when this length is reached.</div>
      </div>
      <div class="flex-shrink-0 border-start border-primary border-4 ps-2">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="temperatureRange" class="form-label">Temperature</label>
          </div>
          <div class="col-auto">
            <input type="range" class="form-range" id="temperatureRange" min="0.1" max="1" step="0.1" value="0.5" aria-describedby="temperatureRangeInfo">
          </div>
          <div class="col-auto">
            <span class="form-label badge bg-primary" id="temperatureValueLabel">0.5</span>
          </div>
        </div>
        <div id="temperatureRangeInfo" class="form-text">Higher the temperature, more original the result.</div>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="d-grid text-center d-lg-block">
        <input class="btn btn-success btn-lg" type="submit" value="Generate" id="generateBtn" style="min-width: 200px">
      </div>
      <div class="d-flex flex-column flex-grow-1" id="result"></div>
    </div>
  </form>
  <div id="resultHistory"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
  <script src={% static "main/generator.js" %}></script>
{% endblock %}